#content-section {
    background-color: #000;
    color: #fff;
    padding: 30px;
}

#content-section .row {
    flex-wrap: wrap;
    justify-content: center;
}
#content-section .col {
    flex-basis: calc(100% / 6);
}

button {
    display: block;
    margin: auto;
    color: #fff;
    background-color: dodgerblue;
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
}
